doctype html
html(ng-app = 'ampush' ng-strict-di lang = 'eng')
  head
    meta(charset = 'utf-8')
    base(href = '/')
    title ampush
    meta(name = 'description' content = '')
    meta(name = 'viewport' content = 'width=device-width')
    link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    ui-view
